# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
venv/
ENV/
.env/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Node
node_modules/

# Compiled
*.exe
*.dll
*.out
*.app

# Logs
*.log

# Misc
*.bak
*.swp
*.tmp

# Excel autosave
~$*.xlsx

# Ignore product images cache (if any)
productImge/cache/

# Ignore secrets
*.env 

#ignore bussiness files
xlsx_to_json.py
شيت المنتجات.xlsx